* {
	box-sizing: border-box;
}

main {
	width: 100%;
    margin-left: 80px;
    font-family: Proxima Nova; 
}
table {
    border-collapse: collapse;
    border-style: hidden;
}
table tr, table th {
    border: 5px solid black;
}
.cell {
    
    height: 100px;
    width: 100px;
}